@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background: #f7fbff; /* COLORS.bg */
  color: #0e223d; /* COLORS.text */
}

/* Accessible default font size */
html { font-size: 16px; }
